<nb-card>
    <nb-card-header _ngcontent-ufa-c68="" >Gerar Script</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-2"></div>
        <div>
          <strong><p style="color: green; font-size: x-large; font-weight: bold">Mari! Pode colocar ela em seu site...</p></strong>
          <p >Você pode inserir o código javascript no seu site, de forma simples.</p>
          <p >Adicione o script antes do fechamento da tag body.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <textarea style="resize: none;" [(ngModel)]="script" _ngcontent-ufa-c68="" disabled fullwidth="" nbinput="" rows="8" shape="round" class="input-full-width size-medium shape-round"></textarea>
        </div>
        <div class="col-sm-2"><div class="col-sm-4"> <img src="assets/images/mari.png" style="
    height: 164px;
">  </div></div>

      </div>
      <div class="row">
          <div class="col-sm-4"></div>

          <div class="col-sm-4">
            <button _ngcontent-ufa-c71="" (click)="copyMessage()" nbbutton="" outline="" _nghost-ufa-c15="" class="appearance-outline size-medium status-primary shape-rectangle ng-star-inserted transitions"  aria-disabled="false" tabindex="0">Copiar Código</button>
          </div>
      </div>
    </nb-card-body>
</nb-card>

